{% extends 'Base.html' %}
{% block content %}
{% for i in projectsdata %}
<div class="body d-flex py-lg-3 py-md-2">
                <div class="container-xxl">
                    <div class="row align-items-center">
                        <div class="border-0 mb-4">
                            <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                <h3 class="h4 mb-0">Project Details</h3>
                            </div>
                        </div>
                    </div> <!-- Row end  -->
                    <div class="row g-3">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="mb-5 text-secondary">Project: Tc-00011</h3>
                                    <h4 class="mb-3">{{i.project_name}}</h4>
                                    <p class="fs-6">{{i.description}}</p>
                                    <p class="fs-6">{{i.description}}</p>
                                    <h5 class="mt-4 mb-3">Issue point</h5>
                                    <ul class="list-unstyled list-style lh-lg">
                                        <li><i class="fa fa-angle-double-right me-3"></i>It is a long established fact that a reader will be distracted</li>
                                        <li><i class="fa fa-angle-double-right me-3"></i>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</li>
                                        <li><i class="fa fa-angle-double-right me-3"></i>There are many variations of passages of Lorem Ipsum available</li>
                                        <li><i class="fa fa-angle-double-right me-3"></i>The generated Lorem Ipsum is therefore always free from repetition</li>
                                        <li><i class="fa fa-angle-double-right me-3"></i>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"</li>
                                        <li><i class="fa fa-angle-double-right me-3"></i>It has survived not only five centuries, but also the leap into electronic</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Created:
                                    <span class="">{{i.created_at}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Created by:
                                    <span class=""><a href="javascript:void(0);">Birju Cuda</a></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Priority:
                                    <span class="badge bg-danger">Highest <i class="fa fa-caret-down"></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Status:
                                    <span class="">Working</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
</div>
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12 flex-column">
                                    <div class="tab-content mt-4 project-board">
                                         <div class="row g-3 gy-5 py-3 row-deck">
                                                {% for i in task_detail %}
                                                <li class="dd-item" data-id="1">
                                                    <div class="dd-handle">
                                                        <div class="task-info d-flex align-items-center justify-content-between">
                                                           <a href="#"> <h6 class="light-info-bg py-1 px-2 rounded-1 d-inline-block fw-bold small-14 mb-0">{{i.task_name}}</h6></a>
                                                            <div class="task-priority d-flex flex-column align-items-center justify-content-center">
                                                                <div class="avatar-list avatar-list-stacked m-0">
                                                                    {% for j in i.get_assigned_users %}
                                                                    <img class="avatar rounded-circle small-avt" src="{{j.url}}" alt="no img" height="50px" width="50px">
                                                                    {% endfor %}
                                                                </div>
                                                                <span class="badge bg-warning text-end mt-2">{{i.priority}}</span>
                                                            </div>
                                                        </div>
                                                        <p class="py-2 mb-0">{{i.description}}</p>
                                                        <div class="tikit-info row g-3 align-items-center">
                                                            <div class="col-sm">
                                                                <ul class="d-flex list-unstyled align-items-center flex-wrap">
                                                                    <li class="me-2">
                                                                        <div class="d-flex align-items-center">
                                                                            <i class="icofont-flag"></i>
                                                                            <span class="ms-1">{{i.created_at.date}}</span>
                                                                        </div>
                                                                    </li>
                                                                    <li class="me-2">
                                                                        <div class="d-flex align-items-center">

                                                                                <i class="icofont-ui-text-chat"></i>
                                                                                <span class="ms-1">4</span>

                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="d-flex align-items-center">
                                                                            <i class="icofont-paper-clip"></i>
                                                                            <span class="ms-1">1</span>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm text-end">

                                                                <div class="small text-truncate light-danger-bg py-1 px-2 rounded-1 d-inline-block fw-bold small"> Social Geek Made </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </li>
                                                {% endfor %}
                                            </div>    
                                        
                                    </div>
                                </div>  
                            </div>                              
{% endfor %}                            
{% endblock %}