<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>::Timetracker:: Chat</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'assets/plugin/light-gallery/css/lightgallery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards_departments.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- project css file  -->
    <link rel="stylesheet" href="{% static 'assets/css/timetracker.style.min.css' %}">

    <link rel="stylesheet" href="assets/css/timetracker.style.min.css">
</head>

<body>
    <div id="timetracker-layout" class="theme-mist">

        <!-- sidebar -->
        <div class="sidebar px-4 py-4 py-md-5 me-0">
            <div class="d-flex flex-column h-100">

                <a href="index.html" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <i class="icofont-stopwatch fs-2"></i>
                    </span>
                    <span class="logo-text">Time-Tracker</span>
                </a>

                <!-- Menu: main ul -->
                <ul class="menu-list flex-grow-1 mt-3">
                    <li><a class="m-link" href="index.html"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a></li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-report" href="#">
                            <i class="icofont-chart-pie fs-5"></i><span>Reports</span><span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
                        </a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="menu-report">
                            <li><a class="ms-link" href="attendance.html">Attendance</a></li>
                            <li><a class="ms-link" href="hourstrack.html">Hours Tracked</a></li>
                            <li><a class="ms-link" href="timeline.html">Timeline</a></li>
                            <li><a class="ms-link" href="employee-logs.html">Employee Logs</a></li>
                        </ul>
                    </li>
                    <li><a class="m-link" href="screencasts.html"><i class="icofont-computer fs-5"></i> <span>Screencasts</span></a></li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-order" href="#">
                            <i class="icofont-tasks fs-5"></i> <span>Projects</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
                        </a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="menu-order">
                            <li><a class="ms-link" href="projects.html">Project List</a></li>
                            <li><a class="ms-link" href="employee.html">Employee</a></li>
                            <li><a class="ms-link" href="task.html">Task Progress</a></li>
                            <li><a class="ms-link" href="tickets.html">Ticket List</a></li>
                            <li><a class="ms-link" href="ticket-detail.html">Ticket Details</a></li>
                            <li><a class="ms-link" href="timesheet.html">Timesheet</a></li>
                        </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link active" data-bs-toggle="collapse" data-bs-target="#app" href="#">
                            <i class="icofont-code-alt fs-5"></i> <span>App</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
                        </a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse show" id="app">
                            <li><a class="ms-link" href="calendar.html">Calandar</a></li>
                            <li><a class="ms-link active" href="chat.html"> Communication</a></li>
                        </ul>
                    </li>
                    <li><a class="m-link" href="ui-elements/ui-alerts.html"><i class="icofont-paint fs-5"></i> <span>UI Components</span></a></li>
                    <li class="divider mt-2 py-2 text-uppercase"><small>Ready UI</small></li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#form" href="#">
                            <i class="icofont-file-text fs-5"></i> <span>Form Input</span><span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
                        </a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="form">
                            <li><a class="ms-link" href="form-bootstrap.html">Bootstrap Form</a></li>
                            <li><a class="ms-link" href="form-custome.html">Custome Form</a></li>
                            <li><a class="ms-link" href="form-wizard.html">Wizard Form</a></li>
                        </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#font" href="#">
                            <i class="icofont-brand-icofont fs-5"></i><span>Icon Example</span><span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
                        </a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="font">
                            <li><a class="ms-link" href="icon-iconfont.html">Icofont Icon</a></li>
                            <li><a class="ms-link" href="icon-bootstrap.html"> Bootstrap Icon</a></li>
                            <li><a class="ms-link" href="icon-fontawesome.html"> Font-Awesome Icon</a></li>
                        </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#widget" href="#">
                            <i class="icofont-code fs-5"></i><span>Widget</span><span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span>
                        </a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="widget">
                            <li><a class="ms-link" href="widget-example.html">Widget Example</a></li>
                            <li><a class="ms-link" href="apexchart.html">Apex Chart</a></li>
                            <li><a class="ms-link" href="priceplan.html"> Price Plan</a></li>
                            <li><a class="ms-link" href="profile.html"> Profile Page</a></li>
                            <li><a class="ms-link" href="table.html"> Tables</a></li>
                        </ul>
                    </li>   
                </ul>
                
                <!-- Menu: menu collepce btn -->
                <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                    <span class="ms-2"><i class="icofont-bubble-right"></i></span>
                </button>

            </div>
        </div>

        <!-- main body area -->
        <div class="main">
            <!-- Body: Body -->
            <div class="body d-flex">
                <div class="container-xxl p-0">
                    <div class="row g-0">
                        <div class="col-12 d-flex">
                        <!-- Card: -->
                            <div class="card card-chat border-right border-top-0 border-bottom-0  w380">
                                <div class="px-4 py-3 py-md-4">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control mb-1" placeholder="Search...">
                                    </div>

                                    <div class="nav nav-pills justify-content-between text-center" role="tablist">
                                        <a class="flex-fill rounded border-0 nav-link active" data-bs-toggle="tab" href="#chat-recent" role="tab" aria-selected="true">Chat</a>
                                        <a class="flex-fill rounded border-0 nav-link" data-bs-toggle="tab" href="#chat-groups" role="tab" aria-selected="false">Office Groups</a>
                                        <a class="flex-fill rounded border-0 nav-link" data-bs-toggle="tab" href="#chat-contact" role="tab" aria-selected="false">Contact</a>
                                    </div>
                                </div>

                                <div class="tab-content border-top">
                                    <div class="tab-pane fade show active" id="chat-recent" role="tabpanel">
                                        <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0">
                                            {% for i in friends %}
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="{% url 'detail' i.profile.id %}" class="d-flex">
                                                    <img class="avatar rounded" src="{{i.profile.pic.url}}" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <h6 class="d-flex justify-content-between mb-0"><span>{{i.profile.name}}</span> <small class="msg-time">10:45 AM</small></h6>
                                                        <span class="text-muted">There are many variations of passages</span>
                                                    </div>
                                                </a>
                                            </li>
                                            {% endfor %}
                                            
                                    </div>
                                    <div class="tab-pane fade" id="chat-groups" role="tabpanel">
                                        <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0">
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <div class="avatar rounded no-thumbnail">IN</div>
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <h6 class="d-flex justify-content-between mb-0"><span>Art Project
                                                        </span> <small class="msg-time">15/06/2021</small></h6>
                                                        <span class="text-muted">The point of using Lorem Ipsum</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <div class="avatar rounded no-thumbnail">OD</div>
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <h6 class="d-flex justify-content-between mb-0"><span>Design Dribble
                                                        </span> <small class="msg-time">13/06/2021</small></h6>
                                                        <span class="text-muted">If you are going to use a passage</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <div class="avatar rounded no-thumbnail">PD</div>
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <h6 class="d-flex justify-content-between mb-0"><span>Tester Group
                                                        </span> <small class="msg-time">12/06/2021</small></h6>
                                                        <span class="text-muted">The point of using Lorem Ipsum</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="chat-contact" role="tabpanel">
                                        <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0">
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <img class="avatar rounded" src="assets/images//xs/avatar10.svg" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <div class="d-flex justify-content-between mb-0">
                                                            <h6 class="mb-0">Hannah Gill</h6>
                                                            <div class="text-muted">
                                                                <i class="fa fa-heart-o pl-2 text-danger"></i>
                                                                <i class="fa fa-trash pl-2 text-danger"></i>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted">hannahgill@timetracker.com</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <img class="avatar rounded" src="assets/images//xs/avatar2.svg" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <div class="d-flex justify-content-between mb-0">
                                                            <h6 class="mb-0">Abigail Bell</h6>
                                                            <div class="text-muted">
                                                                <i class="fa fa-heart pl-2 text-danger"></i>
                                                                <i class="fa fa-trash pl-2 text-danger"></i>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted">abigailbell@timetracker.com</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <img class="avatar rounded" src="assets/images//xs/avatar1.svg" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <div class="d-flex justify-content-between mb-0">
                                                            <h6 class="mb-0">Megan Dyer</h6>
                                                            <div class="text-muted">
                                                                <i class="fa fa-heart-o pl-2 text-danger"></i>
                                                                <i class="fa fa-trash pl-2 text-danger"></i>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted">barbara.kelly@timetracker.com</span>
                                                    </div>
                                                </a>
                                            </li>
                                        
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <img class="avatar rounded" src="assets/images//xs/avatar7.svg" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <div class="d-flex justify-content-between mb-0">
                                                            <h6 class="mb-0">Ruth Cornish</h6>
                                                            <div class="text-muted">
                                                                <i class="fa fa-heart pl-2 text-danger"></i>
                                                                <i class="fa fa-trash pl-2 text-danger"></i>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted">ruthcornish@timetracker.com</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <img class="avatar rounded" src="assets/images//xs/avatar4.svg" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <div class="d-flex justify-content-between mb-0">
                                                            <h6 class="mb-0">Yvonne Duncan</h6>
                                                            <div class="text-muted">
                                                                <i class="fa fa-heart-o pl-2 text-danger"></i>
                                                                <i class="fa fa-trash pl-2 text-danger"></i>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted">yvonneduncan@timetracker.com</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="list-group-item px-md-4 py-3 py-md-4">
                                                <a href="javascript:void(0);" class="d-flex">
                                                    <img class="avatar rounded" src="assets/images//xs/avatar6.svg" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <div class="d-flex justify-content-between mb-0">
                                                            <h6 class="mb-0">Nicola Carl</h6>
                                                            <div class="text-muted">
                                                                <i class="fa fa-heart-o pl-2 text-danger"></i>
                                                                <i class="fa fa-trash pl-2 text-danger"></i>
                                                            </div>
                                                        </div>
                                                        <span class="text-muted">nicolacarl@timetracker.com</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Card: -->
                            <div class="card card-chat-body border-0  w-100 px-4 px-md-5 py-3 py-md-4">

                                <!-- Chat: Header -->
                                <div class="chat-header d-flex justify-content-between align-items-center border-bottom pb-3">
                                    <div class="d-flex align-items-center">
                                        <a href="index.html" title="Home" class="d-block d-xxl-none"><i class="icofont-arrow-left fs-4"></i></a>
                                        <a href="javascript:void(0);" title="">
                                            <img class="avatar rounded" src="{{friend.profile.pic.url}}" alt="avatar">
                                        </a>
                                        <div class="ms-3">
                                            <h6 class="mb-0">{{friend.profile.name}}</h6>
                                            <small class="text-muted">Last seen: 3 hours ago</small>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <a class="nav-link py-2 px-3 text-muted d-none d-lg-block" href="javascript:void(0);"><i class="fa fa-camera"></i></a>
                                        <a class="nav-link py-2 px-3 text-muted d-none d-lg-block" href="javascript:void(0);"><i class="fa fa-video-camera"></i></a>
                                        <a class="nav-link py-2 px-3 text-muted d-none d-lg-block" href="javascript:void(0);"><i class="fa fa-gear"></i></a>
                                        <a class="nav-link py-2 px-3 text-muted d-none d-lg-block" href="javascript:void(0);"><i class="fa fa-info-circle"></i></a>
                                        <a class="nav-link py-2 px-3 d-block d-lg-none chatlist-toggle" href="#"><i class="fa fa-bars"></i></a>

                                        <!-- Mobile menu -->
                                        <div class="nav-item list-inline-item d-block d-xl-none">
                                            <div class="dropdown">
                                                <a class="nav-link text-muted px-0" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </a>
                                                <ul class="dropdown-menu shadow border-0">
                                                    <li><a class="dropdown-item" href="index.html"><i class="fa fa-camera"></i> Share Images</a></li>
                                                    <li><a class="dropdown-item" href="index.html"><i class="fa fa-video-camera"></i> Video Call</a></li>
                                                    <li><a class="dropdown-item" href="index.html"><i class="fa fa-gear"></i> Settings</a></li>
                                                    <li><a class="dropdown-item" href="index.html"><i class="fa fa-info-circle"></i> Info</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Chat: body -->
                                <ul class="chat-history list-unstyled mb-0 py-lg-5 py-md-4 py-3 flex-grow-1">
                                    <!-- Chat: left -->
                                    <li class="mb-3 d-flex flex-row align-items-end">
                                        {% for chat in chats %}
                                        {% if chat.msg_sender == user and chat.msg_receiver == profile %}
                                        <div class="max-width-70">
                                            <div class="user-info mb-1">
                                                <img class="avatar sm rounded-circle me-1" src="{{friend.profile.pic.url}}" alt="avatar">
                                                <span class="text-muted small">10:10 AM, Today</span>
                                            </div>
                                            <div class="card border-0 p-3">
                                                <div class="message">{{chat}}</div>
                                            </div>
                                            
                                        </div>
                                        <!-- More option -->
                                        <div class="btn-group">
                                            <a href="#" class="nav-link py-2 px-3 text-muted" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <ul class="dropdown-menu border-0 shadow">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Share</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    {% elif chat.msg_sender == profile and chat.msg_receiver == user %}
                                    <!-- Chat: right -->
                                    <li class="mb-3 d-flex flex-row-reverse align-items-end">
                                        <div class="max-width-70 text-right">
                                            <div class="user-info mb-1">
                                                <span class="text-muted small">10:12 AM, Today</span>
                                            </div>
                                            <div class="card border-0 p-3 bg-primary text-light">
                                                <div class="message">{{chat}}</div>
                                            </div>
                                        </div>
                                        
                                        <!-- More option -->
                                        <div class="btn-group">
                                            <a href="#" class="nav-link py-2 px-3 text-muted" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <ul class="dropdown-menu border-0 shadow">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Share</a></li>
                                                <li><a class="dropdown-item" href="{% url 'sent_msg' friend.profile.id %}">Delete</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    <!-- Chat: left -->
                                <!-- Chat: Footer -->
                                <div class="chat-message">
                                    <form action="" id="myform" method="POST">
                                        {% csrf_token %}
                                    <button class="btn btn-dark" type = "submit" id = "submit">Send</button>
                                    {{form.body}}
                                </form>
                                </div>

                            </div>
                        </div>
                    </div> <!-- row end -->
                </div>
            </div>
            
        </div>
        
    </div>
    <script>

        setInterval(getNotification, 1000)
  
      function getNotification(){
        let url = "{% url 'notification' %}"
  
        fetch(url)
        .then(res=>res.json())
        .then(data=>{
          console.log(data)
          let chatNotificationBtn = document.getElementsByClassName("msg")
          for(let i = 0; i<data.length; i++){
            chatNotificationBtn[i].innerText = data[i]
          }
        })
        .catch(error => console.log(error))
      }
  
    </script>
    
    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    
        let form = document.getElementById("myform")
        
        form.addEventListener("submit", sendChat)
    
        function sendChat(e){
            e.preventDefault()
            let chatMessage= document.getElementById("id_body").value
            console.log(chatMessage)
    
            const data = { msg: chatMessage };
            
            let url = "#"
    
    fetch(url, {
      method: 'POST', // or 'PUT'
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data);
      let chat_body = document.getElementById('chat-body')
      let chatMessageBox = document.createElement("div")
      chatMessageBox.classList.add("chat-box-sent")
      chatMessageBox.innerText = data
      chat_body.append(chatMessageBox)
      document.getElementById("id_body").value=""
    })
    .catch((error) => {
      console.error('Error:', error);
    });
    
    
        }
    
    
    
    
    
    
    
    
    
        
    
    setInterval(receiveMessages, 2000)
    
    
    let counter = {{num}}
    function receiveMessages(){
    
    
        let url = "#"
    
            fetch(url)
            .then(response => response.json())
            .then(data => {
            console.log('Success:', data);
            
            
    
            if(data.length == 0){}
    
            else{
    
                let lastMsg = data[data.length-1]
    
                if(counter == data.length){
                    console.log("there is no new chat")
                }
    
            
            
    
                else{
    
    
                    let chat_body = document.getElementById('chat-body')
                    let chatMessageBox = document.createElement("div")
                    
                    chatMessageBox.classList.add("chat-box-received")
                    chatMessageBox.innerText = lastMsg
                    chat_body.append(chatMessageBox)
                    document.getElementById("id_body").value=""
                    console.log()
    
                    console.log
    
    
                }
    
            }
            
            counter = data.length
    
    
    
            })
            .catch((error) => {
            console.error('Error:', error);
            });
    
    }
    
    
    
    </script>

    <!-- Jquery Core Js -->
    <script src="assets/bundles/libscripts.bundle.js"></script>
    <!-- Jquery Core Js -->
    <script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>
    <script src="{% static 'js/custom.js' %}" ></script>

    <!-- Plugin Js -->
    <script src="{% static 'assets/plugin/light-gallery/js/lightgallery.js' %}"></script>

    <!-- Jquery Page Js -->
    <script src="{% static 'js/page/dashboard.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>


    <!-- Jquery Page Js -->
    <script src="../js/template.js"></script>
</body>
</html>