{% extends 'index.html' %}
{% block content %}

<div class="table100">
<table>
<thead>
<tr class="table100-head">
<th class="column1">Date</th>
<th class="column2">ID</th>
<th class="column3"> Task Name</th>
<th class="column4">Description</th>
<th class="column5">Status</th>
<th class="column6">Details</th>
</tr>
</thead>
<tbody>
<tr>
<td class="column1">{{response.data.created_at}}</td>
<td class="column2">{{response.data.id}}</td>
<td class="column3">{{response.data.task_name}}</td>
<td class="column4">{{response.data.description}}</td>
<td class="column5">1</td>
</tr>
<tr>
<td class="column1">2017-09-28 05:57</td>
<td class="column2">200397</td>
<td class="column3">Samsung S8 Black</td>
<td class="column4">$756.00</td>
<td class="column5">1</td>
<td class="column6">$756.00</td>
</tr>
<tr>
<td class="column1">2017-09-26 05:57</td>
<td class="column2">200396</td>
<td class="column3">Game Console Controller</td>
<td class="column4">$22.00</td>
<td class="column5">2</td>
<td class="column6">$44.00</td>
</tr>
<tr>
<td class="column1">2017-09-25 23:06</td>
<td class="column2">200392</td>
<td class="column3">USB 3.0 Cable</td>
<td class="column4">$10.00</td>
<td class="column5">3</td>
<td class="column6">$30.00</td>
</tr>
<tr>
<td class="column1">2017-09-24 05:57</td>
<td class="column2">200391</td>
<td class="column3">Smartwatch 4.0 LTE Wifi</td>
<td class="column4">$199.00</td>
<td class="column5">6</td>
<td class="column6">$1494.00</td>
</tr>
<tr>
<td class="column1">2017-09-23 05:57</td>
<td class="column2">200390</td>
<td class="column3">Camera C430W 4k</td>
<td class="column4">$699.00</td>
<td class="column5">1</td>
<td class="column6">$699.00</td>
</tr>
<tr>
<td class="column1">2017-09-22 05:57</td>
<td class="column2">200389</td>
<td class="column3">Macbook Pro Retina 2017</td>
<td class="column4">$2199.00</td>
<td class="column5">1</td>
<td class="column6">$2199.00</td>
</tr>
<tr>
<td class="column1">2017-09-21 05:57</td>
<td class="column2">200388</td>
<td class="column3">Game Console Controller</td>
<td class="column4">$999.00</td>
<td class="column5">1</td>
<td class="column6">$999.00</td>
</tr>
<tr>
<td class="column1">2017-09-19 05:57</td>
<td class="column2">200387</td>
<td class="column3">iPhone X 64Gb Grey</td>
<td class="column4">$999.00</td>
<td class="column5">1</td>
<td class="column6">$999.00</td>
</tr>
<tr>
<td class="column1">2017-09-18 05:57</td>
<td class="column2">200386</td>
<td class="column3">iPhone X 64Gb Grey</td>
<td class="column4">$999.00</td>
<td class="column5">1</td>
<td class="column6">$999.00</td>
</tr>
<tr>
<td class="column1">2017-09-22 05:57</td>
<td class="column2">200389</td>
<td class="column3">Macbook Pro Retina 2017</td>
<td class="column4">$2199.00</td>
<td class="column5">1</td>
<td class="column6">$2199.00</td>
</tr>
<tr>
<td class="column1">2017-09-21 05:57</td>
<td class="column2">200388</td>
<td class="column3">Game Console Controller</td>
<td class="column4">$999.00</td>
<td class="column5">1</td>
<td class="column6">$999.00</td>
</tr>
<tr>
<td class="column1">2017-09-19 05:57</td>
<td class="column2">200387</td>
<td class="column3">iPhone X 64Gb Grey</td>
<td class="column4">$999.00</td>
<td class="column5">1</td>
<td class="column6">$999.00</td>
</tr>
<tr>
<td class="column1">2017-09-18 05:57</td>
<td class="column2">200386</td>
<td class="column3">iPhone X 64Gb Grey</td>
<td class="column4">$999.00</td>
<td class="column5">1</td>
<td class="column6">$999.00</td>
</tr>
</tbody>
</table>
</div>


<script src="vendor/jquery/jquery-3.2.1.min.js"></script>

<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="vendor/select2/select2.min.js"></script>

<script src="js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"751203f768e9e626","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.8.1","si":100}' crossorigin="anonymous"></script>

{% endblock content %}