{% extends 'index.html' %}

{% block content %}
<div class="cards">
         <h2 class="header">
            Assigned Task's
         </h2>
         <div class="services">
            <div class="content content-1">
               <div class="fab fa-twitter"></div>
               <h2>

    <strong>{{response.project}}</strong>

               </h2>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
               </p>
               <a href="#">Read More</a>
            </div>
            <div class="content content-2">
               <div class="fab fa-instagram"></div>
               <h2>
                  Instagram
               </h2>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
               </p>
               <a href="#">Read More</a>
            </div>
            <div class="content content-3">
               <div class="fab fa-youtube"></div>
               <h2>
                  Youtube
               </h2>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?
               </p>
               <a href="#">Read More</a>
            </div>
         </div>
      </div>
{% endblock content %}