{% extends 'Base.html' %}
{% block content %}
{% load static %}
<div class="body d-flex py-lg-3 py-md-2">
                <div class="container-xxl">
                    <div class="row align-items-center">
                        <div class="border-0 mb-4">
                            <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                <h3 class="h4 mb-0">Tickets Detail</h3>
                            </div>
                        </div>
                    </div> <!-- Row end  -->
                    {% for i in task_data %}
                    <div class="row g-3">
                        <div class="col-md-8">
                            <div class="card">

                                <div class="card-body">
                                    <h3 class="mb-5 text-secondary">Task: Tc-00011</h3>
                                    <h4 class="mb-3">{{i.task_name}}</h4>
                                    <p class="fs-6">{{i.description}}</p>
                                   
                                   
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Created:
                                    <span class="">{{i.created_at}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Priority:
                                    <span class="badge bg-danger">{{i.priority}}<i class="fa fa-caret-down"></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Status:
                                    <span class="">{{i.status}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="row clearfix g-3">
                            <div class="col-sm-12">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Employee Name</th>
                                                    <th>Desigination</th>
                                                    <th>Email</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in task_user %}
                                                <tr>
                                                   <td>
                                                       <img class="avatar rounded-circle" src="{{i.image}}" alt="">
                                                       <a href="{% url 'user_profile' i.id %}"><span class="fw-bold ms-1">{{i.fullname}}</span></a>
                                                   </td>
                                                   
                                                   <td>
                                                        <a href="task.html">{{i.designation}}</a>
                                                   </td>
                                                   <td>
                                                        <a href="mailto:">{{i.email}}</a>
                                                   </td>

                                                   <td> 
                                                   </td>
                                                </tr>
                                            </a>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
</div>
{% endblock %}